@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@400;700&family=Merriweather:wght@400;700&family=Roboto:wght@400;700&family=Ubuntu:wght@300;400;700&display=swap');
body{
    font-family: 'Cookie', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif
}
*{
    margin: 0;
    
}
body div{
    padding: 1rem;
    height: 3rem;
}
.angle-1{
    height: 1.5rem;
}

.navigation{
    border: 1px solid black;
    text-align: center;
    padding: 1rem;
    height: 2rem;
    border-top-left-radius: 1rem;
    background-color: #d5f1f1;
    
      
}
.navigation a{
    padding: 1rem;
    text-decoration: none;
    color: black;
    
}
.navigation .linkactive{
    font-weight: bold;
}
h1{
    text-align: center;
    color: #008CBA;
}
.a1,.a2,.a3{
    text-align: center;
}
.output-btn{
    text-align: center;
}
.questions,.container1{
    text-align: center;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    transition-duration: 1s;
    height: 2.5rem;
  }
  
  .button1:hover {
    background-color: #008CBA;
    color: white;
  }
  label{
      text-align: center;
  }
  .question-container,.hoja{
      text-align: center;
  }
  #output-text{
      margin-top: 2rem;
      font-weight: bolder;
      color:#008CBA ;
  }
 